:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
  }
  *:focus {
    outline: none;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
  }
.page{
  min-height: 100vh;
  background-color: #f1f5f9;
}
/* start sidebar  */
.sidebar {
  width: 300px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar h3::before,
.sidebar h3::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  left: 50%;
  background-color: black;
}
.sidebar h3::before {
  width: 70px;
  height: 2px;
  bottom: -32%;
}
.sidebar h3::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -21px;
  border: 7px solid white;
}
.sidebar ul li  {
  padding: 17px 0px 0px 0px;
}
.sidebar ul li a i {
  font-size: 19px;
}
.sidebar ul li a {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  align-items: center;
}
.sidebar ul li a span {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
}
.sidebar ul li .acktiv,
.sidebar ul li a:hover {
    background-color: #f6f6f6;
}
@media (max-width: 776px) {
  .sidebar {
    width: 66px;
    padding: 10px;
  }
  .sidebar  h3 {
    font-size: 13px;
    margin-bottom: 15px;
    padding-bottom: 0;
  }
  .sidebar ul li a span {
    display: none;
  }
  .sidebar h3::before,
  .sidebar h3::after {
    display: none;
  }
}
/* End sidebar  */
/* Start Content */
.content {
  overflow: hidden;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after{
  content: "";
  position: absolute;
  bottom: -14px;
}
.page h1::before{
  width: 42px;
  height: 4px;
  background-color: black;
}
.page h1::after{
  width: 87px;
  height: 4px;
  background-color: white;
  left: 41px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* End hader */
/* Start Welcome Widget */
.Welcome {
  overflow: hidden;
}
.Welcome .intro  img {
  max-width: 100%;
  width: 230px;
}
.Welcome .avatar  {
  width: 62px;
  height: 62px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.Welcome .body {
  /* justify-content: space-around; */
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.Welcome .body > div {
  flex: 1;
}
.Welcome .visit  {
  margin: 27px 16px 13px auto;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.Welcome .visit:hover{
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .Welcome .avatar  {
    margin-left: 0;
  }
  .welcome .intro {
    padding-bottom: 30px;
  }
  .Welcome .body > div:not(:last-child) {
    margin-bottom: 30px;
  }
}
/* End Welcome Widget */
/* Start Quick Draft Widget - */
.Quick textarea {
  resize: none;
  min-height: 180px;
}
.Quick .visit {
  margin: 27px 16px 13px auto;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.Quick .visit:hover{
  background-color: var(--blue-alt-color);
}
/* End Quick Draft Widget - */
/* start targets */
.targets .targets-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
    right: -16px;
    bottom: 16px;
    padding: 3px;
}
.targets .details .progress > span span::after {
  content: "";
  border-color:var(--blue-color) transparent transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  bottom: -11px;
  left: 53%;
  transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
  background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
  background-color: rgb(34 197 94 / 20%);
}
/* End targets */
/* start Statistics  */
.Statistics .slikt {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
@media (max-width: 767px) {
  .Statistics .slikt {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.Statistics .slikt .box {
  border: 1px solid #ddd;
  margin: 10px ;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* End Statistics  */
/* start Latest News  */
.News .Latest {
  padding-top: 24px;
  position: relative;
}
@media (max-width: 767px) {
  .News h2 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .News .Latest {
    display: flex;
    flex-direction: column;
  }
}
.News .Latest::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  bottom: -13px;
}
.News .imgs img {
  max-width: 154px;
border-radius: 17px;
margin-left: -8px;
}
@media (max-width: 767px) {
  .News .imgs {
    display: flex;
    flex-direction: column;
  }
}
.News .info > span {
  padding: 6px 0;
}
/* End Latest News  */
/* start Latest Tasks  */
.tasks .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background-color: #e3e0e082;
  bottom: -8px;
}
.tasks .box i {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  cursor: pointer;
  font-size: 20px;
  
} 
.tasks .box .iii {
  color: #b1b1b1;
}
.tasks .box .iii:hover {
  color:rgba(255, 0, 0, 0.349);
}
.tasks .box i:hover {
  color: red;
} 
.tasks .box :not(:last-child) {
  margin-bottom: 10px;
}
.tasks .box .Attend{
  color: #b1b1b1;
}
.tasks .box .Attend::before {
  content: "";
  position: absolute;
  width: 43%;
  height: 2px;
  background-color: #b1b1b1;
  left: 0;
  bottom: 43%;
}
.tasks .box .Meeting{
  color: #e7e7e9;
}
.tasks .box span{
  color: #e7e7e9;
}
.tasks .box .Meeting::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e7e7e9;
  left: 0;
  bottom: 43%;
}
/* End Latest Tasks  */
/* start Latest Uploads */
.Latest .Latest {
  position: relative;
  padding: 8px 0 8px 0px;
}
.Latest .Latest::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #dddddd52;
  bottom: -3px;
}
.Uploads .imgs img {
  max-width: 68px;
/* border-radius: 17px; */
/* margin-left: -8px; */
}
.Latest .info > span {
  padding: 6px 0;
}
.Latest .zezo {
  color: #e7e7e9;
}
/* End Latest Uploads */
/* start Last Project Progress  */
.project ul {
  margin-top: 36px;
  margin-left: 14px;
}
.project ul li {
  margin-left: 23px;
}
.project ul::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--blue-color);
  left: 0;
} 
.project ul li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  left: -34px;
  bottom: 4px;
  z-index: 1;
} 
.project ul .done::before {
  content: "";
  background-color: var(--blue-color);
} 
.project ul li.current::before {
  content: "";
  animation: change-color 0.8s infinite alternate;
  -webkit-animation: change-color 0.8s infinite alternate;
}
.project .imgss {
  right: 0;
    bottom: 0;
    width: 200px;
    opacity: 0.2;
}
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
/* End Last Project Progress  */
/* start Reminders  */
.Reminders ul li{
  margin-left: 58px;
} 
.Reminders ul li::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: -17px;
} 
.Reminders ul li::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  left: -48px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.Reminders ul .blue::before,
.Reminders ul .blue::after {
  background-color: var(--blue-color);
}
.Reminders ul .green::before,
.Reminders ul .green::after {
  background-color: var(--green-color);
}
.Reminders ul .yellow::before,
.Reminders ul .yellow::after {
  background-color: var(--orange-color);
}
.Reminders ul .red::before,
.Reminders ul .red::after {
  background-color: var(--red-color);
}
/* End Reminders  */
/* start Latest Post  */
.post .box img {
  width: 54px;
}
.post .box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #c7c5c552;
  bottom: -24px;
  left: 0;
}
.post .box .info h3 {
  margin: 7px 0;
}
.post .brgraf p {
    line-height: 2;
    max-width: 100%;
    width: 800px;
    padding: 24px 0;
    font-size: 17px;
}
.post .brgraf::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #c7c5c552;
  bottom: -24px;
  left: 0;
}
.post .post-stats  {
  margin: 55px 0 10px;
}
/* End Latest Post  */
 /* start Social Media Stats  */
  .social .box-youtube,
  .social .box-twetar {
    z-index: 1;
    transition: 0,4s;
    -webkit-transition: 0,4s;
    -moz-transition: 0,4s;
    -ms-transition: 0,4s;
    -o-transition: 0,4s;
}
  .social .box-youtube .info i:hover,
  .social .box-twetar .info i:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
  .social .info i {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social .box-youtube::before,
  .social .box-twetar::before {
    content: "";
    position: absolute;
    width: 102%;
    height: 81%;
    z-index: -1;
}
.social .box-twetar::before {
  background-color: #0075ff3b;
}
.social .box-youtube::before {
  background-color: #ff00004a;
}
 /* End Social Media Stats  */
/* start projects  */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects table thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects table  td {
  padding: 15px;
}
.projects table tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.4;
  -webkit-transition: 0.4;
  -moz-transition: 0.4;
  -ms-transition: 0.4;
  -o-transition: 0.4;
}
.projects table tbody tr:hover td {
  background-color: #faf7f7;
}
.projects table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
/* End projects  */
/* start setting */
.settings-page  {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .settings-page  {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  /* display: none; */
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.4s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4px;
  left: 4px;
  color: #eee;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.settings-page .close-message {
  height: 160px;
  border:1px solid #ddd;
  resize: none;
  margin: 15px 0 0 0;
}
/* End setting */
/* start General Info  */
.General .box .txte {
  border: 1px solid #ddd;
}
.General .box .email {
  width:calc(100% - 80px);
  border: 1px solid #ddd;
  background-color: #f0f4f8;
  color: var(--grey-color);
  cursor:no-drop ;
}
.General .box .Change {
  font-weight: 700;
  color: var(--blue-color);
}
/* End General Info  */
/* start Social Info  */
.settings-page .social-boxes i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-page .social-boxes input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
}
.settings-page .social-boxes > div:focus-within i {
  color: black;
}
/* End Social Info  */
/* start Widgets Control  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.widgets .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.widgets .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.widgets .control label::before,
.widgets .control label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
}
.widgets .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}
.widgets .control label:hover::before {
  border-color: var(--blue-alt-color);
}
.widgets .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.widgets .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* End Widgets Control  */
/* start Backup Manager   */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.Backup-Control .date input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.Backup-Control .date label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.Backup-Control .date label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--grey-color);
  border-radius: 50%;
}
.Backup-Control .date label::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  margin-top: -6px;
  height: 12px;
  background-color: var(--blue-color);
  border-radius: 50%;
  left: 5px;
  transition: 0.4s;
  transform: scale(0);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.Backup-Control .date input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.Backup-Control .date input[type="radio"]:checked + label::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.Backup-Control  input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.Backup-Control .servers {
  border-top: 1px solid #eee;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .Backup-Control .servers {
    flex-wrap: wrap;
  }
}
.Backup-Control .servers .server {
  border: 2px solid #eee;
  position: relative;
  margin-left:5px ;
  margin-right:5px ;
}
.Backup-Control .servers .server label {
  cursor: pointer;
}
.Backup-Control .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* End Backup Manager   */
/* start profile-page */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
  .profile-page .avatar-box  {
    margin: 44px 0px 100px 76px;
    width: 211px;
  }
}
.profile-page .avatar-box  {
    margin: 44px 0px 100px 76px;
    padding-right: 70px;
    width: 300px;
    max-width: 100%;
}
@media (min-width: 767px) {
  .profile-page .avatar-box  {
    border-right: 1px solid #b3b3b34a;
}
}
.profile-page .avatar-box img {
  width: 150px;
  margin: 89px 0 21px 0;
}
.profile-page .avatar-box h3 {
  font-size: 23px;
}
.profile-page .avatar-box p {
  font-size: 18px;
  font-weight: 600;
}
.profile-page .avatar-box .level  {
  width: 100%;
  height: 6px;
}
.profile-page .avatar-box .level span {
  position: absolute;
  height: 6px;
  background-color: var(--blue-color);
  left: 0;
  border-radius: 10px;
}
/*  */
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.profile-page .info-box .box h4 {
  font-weight: normal;
}
.cl-toggle-switch {
  position: relative;
 }
 
 .cl-switch {
  position: relative;
  display: inline-block;
 }
 /* Input */
 .cl-switch > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  right: 6px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0.38);
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
 }
 /* Track */
 .cl-switch > span::before {
  content: "";
  float: right;
  display: inline-block;
  margin: 5px 0 5px 10px;
  border-radius: 7px;
  width: 36px;
  height: 14px;
  background-color: rgb(0, 0, 0, 0.38);
  vertical-align: top;
  transition: background-color 0.2s, opacity 0.2s;
 }
 /* Thumb */
 .cl-switch > span::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 16px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s, transform 0.2s;
 }
 /* Checked */
 .cl-switch > input:checked {
  right: -10px;
  background-color: var(--blue-color);
 }
 
 .cl-switch > input:checked + span::before {
  background-color: var(--blue-color);
 }
 
 .cl-switch > input:checked + span::after {
  background-color: var(--blue-color);
  transform: translateX(16px);
 }
 /* Hover, Focus */
 .cl-switch:hover > input {
  opacity: 0.04;
 }
 
 .cl-switch > input:focus {
  opacity: 0.12;
 }
 
 .cl-switch:hover > input:focus {
  opacity: 0.16;
 }
 /* Active */
 .cl-switch > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
 }
 
 .cl-switch > input:active + span::before {
  background-color: #8f8f8f;
 }
 
 .cl-switch > input:checked:active + span::before {
  background-color: #85b8b7;
 }
 /* Disabled */
 .cl-switch > input:disabled {
  opacity: 0;
 }
 
 .cl-switch > input:disabled + span::before {
  background-color: #ddd;
 }
 
 .cl-switch > input:checked:disabled + span::before {
  background-color: #bfdbda;
 }
 
 .cl-switch > input:checked:disabled + span::after {
  background-color: #61b5b4;
 }
/*  */
/* End profile-page */
/* start other-data */
@media (max-width: 900px) {
  .other-data {
    display: flex;
    flex-direction: column;
  }
}
.other-data .skills-card {
    width: 30%;
    padding: 20px;
}
@media (max-width: 900px) {
  .other-data .skills-card {
    width: 100%;
  }
}
.other-data .skills-card p {
  font-size: 17px;
  font-weight: 500;
}
.other-data .skills-card span {
  display: inline-block;
  margin-bottom: 26px;
}
/*  */
.Latest-Activities {
  width: 70%;
  padding: 20px;
}
@media (max-width: 900px) {
  .other-data .Latest-Activities {
    width: 100%;
  }
}
.other-data .Latest-Activities p {
  font-size: 17px;
  font-weight: 500;
}
.other-data .Latest-Activities .box .info img {
  width: 80px;
}
.other-data .Latest-Activities .box .info .text {
  padding-left: 15px;
  margin: 0 0 14px;
}
@media (max-width: 900px) {
  .other-data .Latest-Activities .box .info .text {
    padding-left: 0;
  }
}
.other-data .Latest-Activities .box .prgraf {
  display: flex;
  justify-content: end;
}
@media (max-width: 900px) {
  .other-data .Latest-Activities .box .prgraf {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 900px) {
  .other-data .Latest-Activities .box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .other-data .Latest-Activities .box .info {
    display: block;
  }
}
/*  */
/* End other-data */
/*start page-Projects  */
.page-Projects {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .page-Projects {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.page-Projects .Dashboard .long {
  position: absolute;
  right: 0;
  padding-right: 14px;
  font-size: 14px;
}
.page-Projects .Dashboard .imgs img {
  width: 40px;
  border-radius: 50%;
  margin-left: -20px;
  position: relative;
  left: 35px;
  margin-top: 28px;
  cursor: pointer;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  border: 2px solid white;
}
.page-Projects .Dashboard .imgs img:hover {
  z-index: 1;
}
.page-Projects .Dashboard .text {
  display: flex;
  justify-content: end;
}
@media (max-width: 767px) {
  .page-Projects .Dashboard .text {
  flex-direction: column;
}
}
.page-Projects .Dashboard .text p {
  margin-left: 8px;
}
.page-Projects .Dashboard .box-span .target {
  position: relative;
  width: 48%;
  height: 7px;
  background-color: #eee;
  border-radius: 15px;
  margin-top: 13px;
}
.page-Projects .Dashboard .box-span .target span {
    position: absolute;
    height: 100%;
    border-radius: 15px;
}
.page-Projects .Dashboard .box-span .target .green {
  background-color: var(--green-color);
}
.page-Projects .Dashboard .box-span .target .blue {
  background-color: var(--blue-color);
}
.page-Projects .Dashboard .box-span .target .red {
  background-color: var(--red-color);
}
@media (max-width: 767px) {
  .page-Projects .Dashboard .box-span {
    flex-direction: column;
  }
}
/* End page-Projects */
/* start page-Mastering */
.page-Mastering {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .page-Mastering {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.page-Mastering .Mastering::after  {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #eee;
  bottom: 50px;
}
.page-Mastering .Mastering .imgss  {
  width: 350px;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}
.page-Mastering .Mastering p {
  padding: 4px 0px 0 18px;
  font-size: 17px;
  font-weight: 700;
}
.page-Mastering .Mastering span {
  padding: 4px 0px 0 18px;
  display: block;
  line-height: 1.5;
  font-weight: 600;
  font-size: 15px;
  width: 300px;
}
.page-Mastering .Mastering .imgs {
  position: absolute;
  top: 14px;
  width: 61px;
  left: 19px;
  border-radius: 50%;
  border: 2px solid white;
}
.page-Mastering .Mastering .info {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -16px;
  margin: -7px;
}
.page-Mastering .Mastering .info h4 {
  z-index: 1;
  padding: 3px;
  font-size: 13px;
}
.page-Mastering .Mastering .footre {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-Mastering .Mastering .footre .box-1  {
  padding-left: 6px;
  font-size: 14px;
  color: var(--grey-color);
}
.page-Mastering .Mastering .footre .box-2 {
  padding-right: 12px;
  font-size: 14px;
  color: var(--grey-color);
}
.page-Mastering .Mastering .footre .mony {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.page-Mastering .Mastering .footre .mony i {
  padding-top: 2px;
}
/* End page-Mastering */
/* start page-Friends */
.page-Friends {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .page-Friends {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.page-Friends .Friends .icons {
  position: absolute;
  left: 7px;
  top: 7px;
}
.page-Friends .Friends .icons i {
  border-radius: 50%;
  margin-left: 2px;
  padding: 8px;
  font-size: 12px;
}
.page-Friends .Friends .imgs {
    display: flex;
    justify-content: center;
}
.page-Friends .Friends .imgs img {
  border-radius: 50%;
  width: 100px;
}
.page-Friends .Friends .text::before {
  content: "";
}
.page-Friends .Friends .text p {
  font-weight: 700;
}
.page-Friends .Friends .text span {
  color: var(--grey-color);
  font-size: 13px;
  position: relative;
  top: -9px;
}
.page-Friends .Friends .body ul li  {
  display: flex;
  align-items: center;
  margin: -20px 0;
}
.page-Friends .Friends .body ul li i {
  padding-right: 6px;
  font-size: 15px;
}
.page-Friends .Friends .body ul li p {
  font-size: 15px;
  font-weight: 500;
}
.page-Friends .Friends .footre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
}
/* END page-Friends */
/* start page-files */
.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
  }
}
.files-page .files-stats {
  min-width: 260px;
}
.files-page .files-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex ;
  align-items: center;
  justify-content: center;
}
.files-page .files-stats .size {
  margin-left: auto;
}
.files-page .files-stats .blue {
  background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .green {
  background-color: rgb(34 197 94 / 20%);
}
.files-page .files-stats .red {
  background-color: rgb(244 67 54 / 20%);
}
.files-page .files-stats .orange {
  background-color: rgb(245 158 11 / 20%);
}
.files-page .files-stats .upload {
  margin: 15px auto 0;
  padding: 10px 15px;
  transition: 0.3s;
}
.files-page .files-stats .upload:hover {
  background-color: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i {
  animation: go-up 0.8s infinite;
}
.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content img {
  width: 64px;
  height: 64px;
  transition: 0.3s;
}
.files-page .files-content .file:hover img {
  transform: rotate(5deg);
}
.files-page .files-content .info {
  border-top: 1px solid #eee;
}
@keyframes go-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* End page-files */
/* start page-Plans  */
.page-Plans {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .page-Plans{
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.page-Plans .Plans .info {
  border: 3px solid white;
}
.page-Plans .Plans .one  {
  border: 3px solid white;
  outline:4px solid ;
  outline-color:var(--green-color) ;
}
.page-Plans .Plans  .two  {
  outline:4px solid ;
  outline-color:var(--blue-color) ;
}
.page-Plans .Plans  .three  {
  outline:4px solid ;
  outline-color:var(--orange-color) ;
}
.page-Plans .Plans .info p {

}
.page-Plans .Plans .info span {
  font-size: 40px;
}
.page-Plans .Plans .info span::before {
  content: "$";
  position: absolute;
  left: -16px;
  font-size: 21px;
  top: -2px;
}
.page-Plans ul li .yes {
  padding-right: 18px;
  font-size: 19px;
}
.page-Plans ul li span {
  margin-right: auto;
  font-weight: 500;
}
/*  End page-Plans  */